<div id="carouselVertical" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
  <div class="carousel-inner vh-100">
    <!-- Slide 1 -->
    <div class="carousel-item active">
      <div class="d-flex justify-content-center align-items-center h-100">
        <img src="https://im.uniqlo.com/global-cms/spa/res23e5c268e1bef20066237c577a6927eafr.jpg" class="img-fluid w-100" alt="Slide 1">
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="carousel-item">
      <div class="d-flex justify-content-center align-items-center h-100">
        <img src="https://im.uniqlo.com/global-cms/spa/resf60987acd955f3fb91db4a35b5a77e6ffr.jpg" class="img-fluid w-100" alt="Slide 2">
      </div>
    </div>
  </div>
</div>
