<div id="bottomNav" class="bottom-navigation position-fixed bottom-0 start-50 translate-middle-x">
  <div class="d-flex justify-content-center align-items-center gap-5">
    <!-- Icon 1 -->
    <button type="button" class="bottom-navigation-icon-wrapper">
      <i class="text-dark bi bi-house-door-fill"></i>
    </button>
    <!-- Icon 2 -->
    <button type="button" class="bottom-navigation-icon-wrapper fw-bold" style="width: 63px;height: 63px;">
      <i class="text-dark bi bi-search"></i>
    </button>
    <!-- Icon 3 -->
    <button type="button" class="bottom-navigation-icon-wrapper">
      <i class="text-dark bi bi-person"></i>
    </button>
  </div>
</div>
