<div id="navbarContainer"></div>

<!-- <div id="navbar">
    <div id="navbarContainer"></div>
    <div class="profilecont">

    </div>

    <div id="hover">

    </div>
</div> -->
<div id="main">
  <div class="pageLinks">
    <p> <a href="index.html">UNIQLO HOME PAGE</a>/
      <a href="cart.html">SHOPPING CART</a>/
      <a href="checkout-delivery.html">DELIVERY</a>/
      <a href="checkout-payment.html">PAYMENT OPTION</a>/
    <p id="this">ORDER CONFIRMATION</p>
<!--    </p>-->
  </div>
  <h1>ORDER PLACED</h1>
  <div id="cartDiv">
    <div class="showCartDiv">
      <div class="leftDiv">
        <div>
          <h3 style="margin-left:20px;">1.DELIVERY OPTION</h3>
        </div>
        <div>
          <h3 style="margin-left:20px;">2.PAYMENT OPTION</h3>
        </div>
        <div>
          <h1 style="margin-left:20px;">3. ORDER CONFIRMATION</h1>
          <hr>
          <h3 style="margin-left:20px;">Order Placed Successfully</h3>
          <p style="margin-left:20px;">Your Order Is Successfully Placed. We Will Be Shipping It As Soon As Possible.</p>
          <div id="deliveryForm">
            <button onclick="goToNextPage()">SHOP MORE !</button>
          </div>
        </div>
      </div>
      <div class="rightDiv"></div>
    </div>
  </div>
</div>
<div id="footerDiv"></div>



<script type="text/javascript" src="./assets/js/checkout/checkout-delivery.js"></script>
<!--<script type="module">-->
<!--  import footer from './components/footer.js';-->
<!--  document.getElementById('footerDiv').innerHTML = footer();-->
<!--</script>-->
<!--<script type="module" src="./scripts/main.js">-->

<!--</script>-->
